@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

nav{
    width:100%;
}

.navbar{
    display: flex;
    position: fixed;
    top:0;
    right:0;
    list-style: none;
    flex-direction: row;
    justify-content:  end;
    width:100%;
    max-width: 100%;
    background-color: var(--main-color);
    opacity:1;
    z-index: 5;
}

.navbar li{
    cursor: pointer;
    padding:20px;
    margin:0 7px;
}

.navbar li a{
    color:var(--third-color);
    padding-bottom:5px;
    font-weight: 600;
}

.navbar li:hover a{
    border-bottom:2px solid var(--third-color);

}


.menu-btn{

    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin:10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn_burger{
    z-index:1000;
    width: 30px;
    height: 4px;
    background:var(--third-color);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: var(--third-color);
    border-radius: 5px;
    transition: all .5s ease-in-out;
    margin: 0 -15px;
}
.menu-btn_burger::before{
    transform: translateY(-10px);
}

.menu-btn_burger::after{
    transform: translateY(10px);
}

.open .menu-btn_burger{
    transform: translateX(-30px);
    background: transparent;
    box-shadow: none;
}
.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(21px,-21px);
}

.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(21px,21px);
}


.slide_container {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    transition: 0.3s;
    right:0;
    list-style: none;

}
a{
    color:var(--third-color);
}
.none{
    list-style: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    width:100vw;
    height:100vh;
    background-color: var(--main-color);
    transition:0.3s;
}

.slide_container li,.none li{
    font-size:2.5rem;
    padding:25px;
    
}

.slide_container li a,.none li a{
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--third-color);
}

@media (max-width: 700px){
    .menu-btn{
        display: flex;
    }

    .navbar li{
        display: none;
    }
}