.project_container{
    padding: 50px 100px;
    overflow: hidden;

}
.project_container h1{
    font-size: 4rem;



}

.all_projects{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding:50px 0;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height:400px;
    max-width: 80%;
}


.project:nth-child(2),.project:nth-child(4){
    align-self: start;
    flex-direction: row-reverse;

}



.project img{
    margin-right:10px;
    height:400px;
    max-width:800px;
    box-shadow: var(--third-color) 15px 15px;
    transition: 0.3s ease-in-out;

}

.project:nth-child(2) img ,.project:nth-child(4) img{
    box-shadow: var(--third-color) -15px 15px;
}

.project img:hover{
    transform: scale(1.3);
}


.sub_projects_container{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:50px 50px;
}


.sub_project{
    padding:50px;
}


.sub_project img{
    height:150px;

    transition: 0.3s ease-in-out;
}

.sub_project:nth-child(1) img{
    box-shadow: var(--third-color) -15px 15px;
}
.sub_project:nth-child(2) img{
    box-shadow: var(--third-color) 15px -15px
}

.sub_project:nth-child(3) img{
    box-shadow: var(--third-color) 15px 15px;
}

.sub_project img:hover{
    transform: scale(1.3);
}