:root{
  /*--main-color:#151b25;*/
  /*--secondary-color:#0096c7;*/
  /*--third-color:#48cae4;*/
  --main-color:#344e41;
  --secondary-color:#a3b18a;
  --third-color:#dad7cd;

  /*background-color: #E5E5E5;*/
  /*--main-color:#e9f5db;*/
  /*--secondary-color:#414833;*/
  /*--third-color:#414833;*/
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}


body{
  background-color: var(--main-color);
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;

}
main{
  margin-top:100px;
  max-width: 100vw;
}
.App {
  text-align: center;
}
a{
  text-decoration: none;
}

.opening{
  width:100vw;
  height:100vh;
  color:var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
}
.running{

  height:50px;
  width:100%;
  cursor:url('images/prof/pokeball.png')25 25,auto;
  padding:0;
  position: absolute;
  bottom:0;

}


.running .pikachu{
  position: absolute;
  bottom:0px;
  height:50px;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 6s;

}


.typed{
  font-size:3rem;
  color:var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  transition: 0.3s;
}
.part1{
  color:var(--third-color);
}
.wrap{
  padding-bottom: 50px;
}
.type-wrap{
  max-width: 100%;
}



.btn-77,
.btn-77 *,
.btn-77 :after,
.btn-77 :before,
.btn-77:after,
.btn-77:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-77 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: var(--third-color);
  background-image: none;
  color: var(--main-color);
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  transition: 0.3s ease-in-out;
}
.btn-77:disabled {
  cursor: default;
}
.btn-77:-moz-focusring {
  outline: auto;
}
.btn-77 svg {
  display: block;
  vertical-align: middle;
}
.btn-77 [hidden] {
  display: none;
}
.btn-77 {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  border: 1px solid;
  border-radius: 999px;
  box-shadow: 0 0 0 2em transparent;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn-77:hover{
  transform: scale(1.1);

}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--third-color);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--third-color);
  }
}


@media (max-width: 950px){
  .typed{
    font-size:2.5rem;
  }
  .btn-77{
    padding:1.5rem 3rem;
    font-size:1.5rem;
  }
}

@media (max-width: 700px){
  :root{
    font-size: 15px;
  }
  .typed{
    font-size:1.75rem;
  }
  .btn-77{
    padding:1rem 2.5rem;
    font-size:1rem;
  }

  body{
    padding-bottom: 50px;
  }
}

@media (max-width: 500px){
  :root{
    font-size: 10px;
  }
  .typed{
    font-size:1.8rem;
  }
  .btn-77{
    padding:1rem 2.5rem;
    font-size:1rem;
  }


}

@keyframes run {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }

}

